body{
    font-family: 'Poppins', sans-serif;
}
.heading{
    color: orange;
}
h1{
    font-size: 40px;
}
.h-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.h-width img{
    width: 70%;
    padding-left: 100px;
    padding-top: 25px;
}